#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightgrey;
  margin-top: 20px;
  display:none;
}



.err{
			display:none;
			color: red;
		}
		
.error{
    	color: red;
        font-style: italic;
    }